<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search api</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
       <div>
        Simple Movies Search App using <a href="https://www.omdbapi.com/">https://www.omdbapi.com/</a></div> 
    </header>
